:root {

  --dc-primary: #5d5f65;
  --link-color: #514ea3;
  --footer-bg: white;
  --dc-red-fade: #02020233;
}

#main-header {
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0 5px 5px 0 rgba(6, 6, 6, 0.18);
  z-index: 10;
}

#main-nav a {
  color: var(--dc-primary);
}

.btn.btn-primary {
  background-color: var(--dc-primary);
}

#main-pane #explore {
  background-color: var(--dc-primary);
}

#main-pane #plot-container {
  background: none;
}

#main-footer {
  border-top: 1px solid #efefef;
  background: #F6F6F6;
}

.nav-element-custom {
  font-size: medium !important;
  font-weight: 750 !important;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-element-custom:hover {
  color: #2CB5C8 !important;
}

.subpage_url_text a {
  color: #484848 !important;
}

#main-nav {
  padding-left: 113px;
  padding-right: 113px;
}

.container-1 {
  scroll-snap-type: y mandatory;
  color: #484848 !important;
  font-weight: 300 !important;
  margin-top: 400px;
  margin-left: 113px;
  margin-right: 113px;
}

.homepage-content-child {
  scroll-snap-align: start;
}

.container-1-1 {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}


.container-1-1-chart {
  max-width: 47%;
}

.container-1-1-chart img {
  max-width: 100%;
}

.container-1-1-content {
  max-width: 47%;
}

.container-1-1-content-title {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  display: grid;
  margin-bottom: 20px;
}

.container-1-1-content-title a {
  color: #2CB5C8 !important;
}

.container-1-1-content-content {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: justify;
}

.container-1-1-content-title img {
  margin-top: 10px;
}


.main-custom {
  background: #e4dfdf !important;
  margin: auto !important;
  color: #484848 !important;
  font-weight: 300 !important;
}

.footer-custom a {
  color: #2CB5C8 !important;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-custom h6 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #484848 !important;
}

.video-container {
  height: 70vh;
  color: #484848 !important;
}

.video-container video {
  top: 200px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.main-title {
  margin: auto;
  top: 500px;
}

.main-title-header {
  top: 212px;
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  margin: auto;
  margin-bottom: 50px;
}

.main-title-content {
  top: 310px;
  left: 404px;
  margin: auto;
  max-width: 558px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

}

.button_learnmore {
  top: 0px;
  width: 255px;
  height: 64px;
  color: #484848 !important;
  margin: auto;
  border-radius: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border: 0;
}

.container-button {
  margin: auto;
}

.video-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;
}

.button_learnmore img {
  margin-left: 25px;
}

.button_learnmore {
  background: white;
}

.about {
  width: Fixed (1, 140px);
  height: Hug (779px);
  top: 144px;
  left: 113px;
  gap: 24px;
  padding: 20px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: justified;
  background: #2CB5C80D;
}

.navbar-toggler-icon {
  background-color: #2CB5C8 !important;
  border-radius: 4px;
  opacity: 0.8;

}

.about-main-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
}

.about a {
  color: #2CB5C8 !important;
}
.about {
  text-align: justify;
}
.text-color {
  color: #2CB5C8 !important;
}

@media(max-width: 1000px) {
  .container-1-1 {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .container-1-1-content {
    width: 100%;
    margin: auto;
  }

  .container-1-1-chart image {
    max-width: 100%;
    margin: auto;
  }

  #main-nav {
    padding-left: 5px;
    padding-right: 5px;
  }

  .container-1-1-chart img {
    width: 100%;
  }

  .container-1-1-chart {
    max-width: 100%;
  }

  .container-1-1-content {
    max-width: 100%;
  }

  .container-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

}